<script type="x/template" id="vue-auction-countdown-itemlists">
    
    
    <span class="vue-countdown">
        ${ days } <span class="text">{{ trans("PluginAuctions::Template.counterDays") }}</span>
        ${ hours } <span class="text">{{ trans("PluginAuctions::Template.counterHrs") }} </span>
        <span class="auction-list-deadline"><i class="fa fa-calendar-times-o text-warning" aria-hidden="true"></i></span>
        ${ deadLine | date ("DD.MMM.YYYY") }
    </span>

</script>


<style>
    .vue-countdown {
        /*columns: #555;*/
        padding: 0;
        /*margin: -8px 0 0 0;*/
    }


    .vue-countdown .text {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 10px;
    }
</style>
